.topbar {
  width: 100%;
  padding: 20px 0;
  /* Centre le texte au milieu de l'espace restant */
  text-align: center;
  border-bottom: 1px solid #f9f9f9;
}

.dashTitle {
  /* Tableau de bord en gras au centre */
  font-weight: bold;
  color: var(--primary-color);
  font-size: 1.6rem;
  margin: 0;
}