/* polices */
@font-face {
	font-family: montserrat;
	font-display: swap;
	src: url(../fonts/Montserrat-VariableFont_wght.ttf);
}
/* varibales css */
:root {
	
    --primary-color:#717628;;
	--secondary-color:#925433;
	--hover-color: #c96d00;
    
}

/* balises HTML */

body {
	
	font-family: montserrat, sans-serif;
}
* {
	box-sizing: border-box;
}
