/* polices */
@font-face {
	font-family: montserrat;
	src: url(../fonts/Montserrat-VariableFont_wght.ttf);
}
/* varibales css */
:root {
	
    --primary-color:#989e38;
	--secondary-color:#ac6945;
	--hover-color: #f79124;
    
}

/* balises HTML */

body {
	background-color: var(--body-color);
	font-family: montserrat, sans-serif;
}
* {
	box-sizing: border-box;
}
