header {
	background-color:rgb(244, 236, 169);
	height: 6vh;
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 1rem;
}


.nav {
	font-size: 1rem;
	color: black;
	top: 9.2rem;
	right: -1000px;
	height: 100vh;
	background-color: rgba(159, 148, 103, 0.25);
	backdrop-filter: blur(4px);
	transition: 0.3s ease;

	z-index: 1;
	width: 100%;
	text-align: center;
	position: fixed;
	padding: 1rem 0;

	&.navbar-mobile-visible {
		display: block;
		right: 0;
	}
}

.menuburger {
	display: flex;
	flex-direction: column;
	border: none;
	background: transparent;

	.line {
		width: 1rem;
		height: 0.15rem;
		margin-bottom: 0.3rem;
		background-color: black;
	}
}
.list {
	list-style: none;
	display: flex;
	flex-direction: column;
	color: var(--header-text-color);
	gap: 1.2rem;
}

/* for the navlink */
.link {
	color: white;
	font-size: 1.3rem;
	text-decoration: none;
}
a:hover {
	border-bottom: 1px solid rgb(169, 50, 50);
	width: 5rem;
}

/* @media screen and (min-width:1000px)  {
        
} */
