
.speciality{
	max-width: 375px;
	width: 100%;
}
.titlebox{
	display: flex;
	justify-content: center;
}

.title {
	font-size: 1.4rem;
	color: white;
	background-color: var(--primary-color);
	text-align: center;
    margin: 1.5rem 0;
    padding: 1rem;
}

/* for the speciality container box */
.specialitybox {
	width: 350px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	margin: auto;

}

.specialityitem {
	max-width: 300px;
	width: 100%;
	text-align: center;
	margin: 1rem O;
	padding: 1rem;
}


.speciality img {
	width: 100%;
	height: auto;
	display: block;
}
.foodname{
	font-weight: bold;
	font-size: 1.2rem;
	color: var(--secondary-color);
	line-height: 1.5;
}
.description {
	color:var(--primary-color);
	font-size: 1rem;
}
.decouvrir {
	color: var(--secondary-color);
	font-weight: bold;
	display: flex;
	justify-content: center;
	/* text-align: center;
	align-items: center; */
	font-size: 1.3rem;
	
	
}